.form{:style => 'display:none;'}
  - if @document.blank?
    .new-mindmap
    = form_tag documents_path do
      = text_area_tag :content
  - else
    = form_tag document_path(@document.token), method: :put do
      = text_area_tag :content, @document.get(:content)

.mindmap-ops
  .logo 
    %span.m MindMAP 
    %span.e Editor

  - if @document.blank?
    %a.op.save{:href => "javascript:;"}
      %i.fa.fa-save
      %span 保存
  - else
    %a.op.update{:href => "javascript:;"}
      %i.fa.fa-save
      %span 保存当前版本
        
    %a.op.save{:href => "javascript:;"}
      %i.fa.fa-code-fork
      %span 另存新档

  .split

  %a.op.center{:href => "javascript:;", :title => "居中显示"}
    %i.fa.fa-crosshairs
    %span 居中显示
  %a.op.zoom-out{:href => "javascript:;"}
    %i.fa.fa-minus
    %span 缩小
  .scale
    %span.value 100
    %span %
  %a.op.zoom-in{:href => "javascript:;"}
    %i.fa.fa-plus
    %span 放大

  .split

  %a.op.keys{:href => "https://github.com/ben7th/mindivy/wiki/%E6%80%9D%E7%BB%B4%E5%AF%BC%E5%9B%BE%E7%BC%96%E8%BE%91%E5%99%A8%E4%BD%BF%E7%94%A8%E5%B8%AE%E5%8A%A9", :target => "_blank"}
    %i.fa.fa-question
    %span 使用帮助
.mindmap
  .bottom-area
  .topics-area